version: "3"

services:
  db-xss:
    image: mysql:5.7
    ports:
      - '3310:3306'
    environment:
      MYSQL_DATABASE: "${DB_NAME}"
      MYSQL_USER: "${DB_USER}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
      # MYSQL_HOST: ''
    networks:
      - openlxp
  neo4j:
    container_name: app-neo4j
    image: neo4j
    ports: 
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password
    networks:
      - openlxp
  uid-neo4j:
    container_name: uid-neo4j
    image: neo4j
    ports: 
      - "7475:7474"
      - "7688:7687"
    environment:
      NEO4J_AUTH: neo4j/password
    networks:
      - openlxp
  app:
    container_name: openlxp-xss
    build:
      context: .
    ports:
      - "8010:8020"
    command: >
      sh -c ". /opt/app/start-app.sh"
    environment:
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_HOST: "${DB_HOST}"
      DJANGO_SUPERUSER_USERNAME: "${DJANGO_SUPERUSER_USERNAME}"
      DJANGO_SUPERUSER_PASSWORD: "${DJANGO_SUPERUSER_PASSWORD}"
      DJANGO_SUPERUSER_EMAIL: 'email@email.com' #"${DJANGO_SUPERUSER_EMAIL}"
      SECRET_KEY_VAL: "${SECRET_KEY_VAL}"
      ENTITY_ID: "${ENTITY_ID}"
      SP_PUBLIC_CERT: "${SP_PUBLIC_CERT}"
      SP_PRIVATE_KEY: "${SP_PRIVATE_KEY}"
      # BAD_HOST: "${BAD_HOST}"
      # OVERIDE_HOST: "${OVERIDE_HOST}"
      # STRATEGY: "${STRATEGY}"
    volumes:
      - ./app:/opt/app/openlxp-xss
    depends_on:
      - neo4j
      - db-xss
    networks:
      - openlxp
volumes:
  data01:
    driver: local
networks:
  openlxp:
    external: true
